$table-padding: 24px;

.qa-table-box{
  padding: $table-padding;
  border-radius: 2px;
  .n-select{
    width: 176px;
  }
  .n-pagination{
    justify-content: end;
  }
  .n-data-table .n-data-table-th.n-data-table-th--fixed-right {
    z-index: 0;
  }
  .n-data-table .n-data-table-td.n-data-table-td--fixed-right {
    z-index: 0;
  }
}